/* STEPPER */

.stepper {
  // background-color: red;
  max-width: 650px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 !important;
}

ul.stepper li a {
  color: $ecotec-desatured-gray;
  font-weight: 700;
  width: 100%;
  padding: 0.5rem 1.5rem;

  .circle {
    border: 1px solid $gray-500;
    background: $gray-200 !important;
    color: $gray-500 !important;
  }

  .label {
    margin-top: 0;
    color: $ecotec-desatured-gray;
    text-align: left !important;
  }
}

ul.stepper li.active a {
  .circle {
    border: 1px solid $ecotec-skyblue;
    background: $gray-200 !important;
    color: $ecotec-skyblue !important;
  }
  .label {
    color: $ecotec-skyblue;
  }
}

.step-new-content {
  width: 100%;
}
