.information-title {
  font-size: 1.5rem;
  color: $ecotec-desatured-gray;
}

.information-text {
  font-size: 1.75rem;
  font-weight: 700;
  color: $ecotec-skyblue;
}

.information-section__title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.information-section__subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
