* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color: #28576f;
}
.container {
  background-color: #f3f9f9;
  line-height: 1.5;
  width: 650px;
  margin: 0 auto;
  min-height: 100px;
  padding: 3em 3em 0;
}

.text-light {
  font-weight: 400;
  font-size: 1.1em;
  color: #085a9a;
  margin: 1.7em 0 0.5em;
}

.title-primary {
  color: #33bbe4;
}

.title-secondary {
  color: #085a9a;
}

[class|="title"] {
  font-size: 2.5em;
  line-height: 1.16em;
}

.subtitle {
  margin: 1em 0 2em;
}
